<div class="flex flex-row flex-wrap">
{% for vid in bulkvideos %}
        <div class="flex flex-col m-2">
			<video class="w-72" controls controlsList="nodownload" oncontextmenu="return false">	
                <source  src={{vid.video}}  type="video/mp4">
                    Your browser does not support the video tag.
            </video>
        </div>
{% endfor %}	
</div>