  <ul class="flex flex-row p-8 text-gray-600">
      <li>
        <a href="/about" class="m-2 font-comp font-bold ">about computational mama</a>
    </li>
       <li>
        <a href={{site.instagram}} target="_blank" class="m-2 font-comp font-bold ">instagram</a>
      </li>
       <li>
        <a href={{site.x}} target="_blank" class="m-2 font-comp font-bold ">X</a>
     </li>
       <li>
        <a href={{site.youtube}} target="_blank" class="m-2 font-comp font-bold ">YouTube</a>
     </li>
       <li>
        <a href={{site.github}} target="_blank" class="m-2 font-comp font-bold ">Github</a>
     </li>
      </ul>