<div class="flex flex-row flex-wrap">
{% for thumb in page.data.thumbnails %}
        <div class="flex flex-col m-2">
			<img class="w-[160mm]" src={{thumb.img}} alt={{thumb.caption}}>	
			<p class="max-w-prose text-xs" >{{thumb.caption}}</p>
        </div>
{% endfor %}	
</div>
