<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="generator" content="Eleventy" />
    <meta name="author" content="{{ site.authorName }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml" />
    <link rel="stylesheet" href="/{{ hash['css/styles.css'] }}"/>
    <script defer src="/{{ hash['js/scripts.js'] }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
      <script>
    function getRandomInt(max) {
    return Math.floor(Math.random() * max);
  }
  
const arr = [
    'code as a practice of care',
    'coding as a process',
    'what can code produce', 
    'who can produce code', 
    'where can code be produced',
    'Coding for value over solutions',
    'Coding as a community',
] 
  

const banner = arr[getRandomInt(arr.length)]

 if(document.getElementById("banner-text")){
    document.getElementById("banner-text").innerHTML = banner
 console.log(banner)
 }
  </script>
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>

  </head>
  <body class="antialiased">
     <div id="navbar" class=" w-full font-comp font-bold">

{% include '../components/menunav.njk'%}
</div>
    {% block content %}
    <div class="z-0 font-comp text-lg ">
      {{ content | safe }}
    </div>
    {% endblock %}
  </body>
</html>
