<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="generator" content="Eleventy" />

    <link rel="stylesheet" href="/{{ hash['css/styles.css'] }}"/>
    <script defer src="/{{ hash['js/scripts.js'] }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
  

  </head>
  <body class="antialiased bg-orange-100">
    {% block content %}
    <div class="max-w-prose p-8 font-mono z-0 text-lg ">
      {{ content | safe }}
    </div>
    {% endblock %}
    {% set projlist = collections.projects | reverse %}
    {% include "components/list.njk" %}
  </body>
</html>
