<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <meta name="generator" content="Eleventy" />
    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/site.webmanifest" />
    <link rel="stylesheet" href="/{{ hash['css/styles.css'] }}" />
    <script defer src="/{{ hash['js/scripts.js'] }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://computationalmama.xyz" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{site.description}} | {{post.data.description}}" />
    <meta property="og:image" content="{{featimg}}" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="computationalmama.xyz" />
    <meta property="twitter:url" content="https://computationalmama.xyz" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{featimg}}" />
  </head>
  <body class="antialiased">
    <div id="navbar" class="w-full font-comp font-bold">
      {% include '../components/menunav.njk'%}
    </div>
    {% block content %}
    <div class="z-0 font-comp text-lg">{{ content | safe }}</div>
    {% endblock %} {% include '../components/footer.njk'%}
  </body>
</html>
