---
layout: layouts/base.njk
---
{% include '../components/header.njk'%}
<div class="lg:max-w-prose md:max-w-full sm:max-w-full">
<h1>{{ title }}</h1>

{# <sup>updated {{ page.date.toString() }}</sup> #}
{# {{ page.date | date_format("%A, %B %e, %Y") }} #}
{# {{ page.date | date_format("dddd, MMMM D, YYYY", "moment") }} #}

<p class="text-lg">
   <sup>updated {{ page.date | postDate }}</sup> 
   {{ content | safe }}
   </p>
   {% include '../components/thumbnails.njk'%}

</div>
