---
layout: layouts/base.njk
---
{% include '../components/header.njk'%}
<div class="lg:max-w-prose md:max-w-full sm:max-w-full">
{# <h3>{{ date | readableDate }}</h3> #}
<h1>{{ title }}</h1>
<p class="text-lg">{{ content | safe }}</p>
</div>