---
layout: layouts/base.njk
---
    {% block content %}
    <div class="max-w-prose p-8 font-mono z-0 text-lg ">
      {{ content | safe }}
    </div>
    {% endblock %}
   <div class="mx-8">
    <p class="text-bold font-mono italic">some thoughts and texts here</p>
        {% set projlist = collections.projects | reverse %}
<div class="flex flex-wrap">
  {% for post in projlist %}
    
        <div class= "bg-white p-4 m-2 w-64" style="background-image:url('{{ post.data.featimg}}')">
                  <a class="font-mono text-center lg:text-sm md:text-sm sm:text-sm" href="{{ post.url | url }}">{{ post.data.title }}</a>
        </div>

   
  {% endfor %}
  </div>
