---
layout: layouts/base.njk

---
    <div class="p-4">
      <div
        class="fixed sm:max-w-sm md:max-w-md lg:max-w-full xl:max-w-full lg:text-[240px] -z-40 wrap-break-word">
 
        <h1 class="font-cirrus text-header text-rose-300" id="banner-text"></h1>
       
      </div>


      {% set projlist = collections.ai | reverse %}
      {% include "components/list.njk" %}
      
    </div>
