---
layout: layouts/base.njk
eleventyNavigation:
  key: care and motherhood
  order: 4
---
    <div class="p-4">
      <div
        class="fixed sm:max-w-sm md:max-w-md lg:max-w-full xl:max-w-full lg:text-[240px] -z-40 break-words">
 
        <h1 class="font-cirrus text-header text-rose-300" id="banner-text"></h1>
       
      </div>

      <div><p class="font-comp font-bold  text-2xl">a collection of thoughts, resources, and reflections on care and motherhood</p></div>
      <div class="readinglist ">
        <h2 class="text-2xl font-comp font-bold"><span class=" bg-rose-500">List of readings</span></h2>
        <ul class="list-disc">
          {% for items in read %}
          <li>- <a href="{{items.url}}" target="_blank" class="text-lg font-comp font-bold">{{ items.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class=" mt-10">
        <div id="care">
          <h2 class="font-comp font-bold text-2xl">care</h2>
      {% set projlist = collections.care | reverse %}
      {% include "components/carelist.njk" %}
      </div>
    <div id="motherhood">
      <h2 class="font-comp font-bold text-2xl">motherhood</h2>
       {% set projlist = collections.motherhood | reverse %}
      {% include "components/carelist.njk" %}
      </div>
      </div>
    </div>
