---
layout: layouts/base.njk
---
    <div class="p-4">
{% include "components/banner.njk" %}


      {% set projlist = collections.code | reverse %}
      {% include "components/list.njk" %}
      
    </div>
