---
layout: layouts/base.njk
eleventyNavigation:
  key: events
  order: 3
---

{% include "components/banner.njk" %}
<div class="go-to w-full p-4">
  <p class="font-comp font-bold text-4xl">{{eleventyNavigation.key}}</p>

  <p class="font-comp font-bold text-2xl">talks</p>
  <div class="flex flex-row flex-wrap">
    {% for event in events %} {% if event.type == "talk" %}
    <a
      class="no-underline bg-center bg-cover bg-repeat bg-blend-darken border-2 border-rose-500 rounded-lg p-2 m-3"
      href="{{ event.eventlink | url }}"
      target="_blank"
      style="background-image:url('{{ event.image }}') , linear-gradient(rgba(180, 100, 20, 0.7),
          rgba(0, 20, 200, 0.7))"
    >
      <div
        class="text-xl w-52 h-52 flex flex-col cursor-pointer justify-between"
      >
        <span class="place-self-end"
          ><svg
            class="w-3"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 1H31V22"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M1 31L31 1"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <div>
          <span class="text-white font-comp font-bold py-2 capitalize">
            {{ event.title }}</span
          >
          <br />

          <span class="bg-white/80 rounded-sm px-2 font-mono italic text-xs"
            >{{ event.location }} {{ event.date }}</span
          >
        </div>
      </div>
    </a>
    {% endif %} {% endfor %}
  </div>

  <p class="font-comp font-bold text-2xl">workshops</p>
  <div class="flex flex-row flex-wrap">
    {% for event in events %} {% if event.type == "workshop" %}

    <a
      class="no-underline bg-center bg-cover bg-repeat bg-blend-darken border-2 border-rose-500 rounded-lg p-2 m-3"
      href="{{ event.eventlink | url }}"
      target="_blank"
      style="background-image:url('{{ event.image }}') , linear-gradient(rgba(180, 100, 20, 0.7),
          rgba(0, 20, 200, 0.7))"
    >
      <div
        class="text-xl w-52 h-52 flex flex-col cursor-pointer justify-between"
      >
        <span class="place-self-end"
          ><svg
            class="w-3"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 1H31V22"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M1 31L31 1"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <div>
          <span class="text-white font-comp font-bold py-2 capitalize">
            {{ event.title }}</span
          >
          <br />

          <span class="bg-white/80 rounded-sm px-2 font-mono italic text-xs"
            >{{ event.location }} {{ event.date }}</span
          >
        </div>
      </div>
    </a>
    {% endif %} {% endfor %}
  </div>
</div>
