---
layout: layouts/base.njk
---
<div class="p-4">
  {# <div class="grid-container -z-50">
    <img class="w-56" src="/img/cardsheet-faceplate.jpg">
    <img class="w-56" src="/img/poetry-together.png">
    <img class="w-56" src="/img/hide-n-seek-dolls-01.jpg">
    <img class="w-56" src="/img/cwf-vai-nk2.gif">
    <img class="w-56" src="/img/posenet-early.gif">
    <img class="w-56" src="/img/poetry-t.gif">
  </div> #}

  <div
        class=" fixed sm:max-w-sm md:max-w-md lg:max-w-full xl:max-w-full lg:text-[240px] -z-40 break-words">
    <h1 class="font-cirrus text-header text-rose-200 max-w-prose" id="banner-text">code as a practice of care </h1>
  </div>
  <div class="indexpagecontent m-5 ">
    <h2 class="text-xl max-w-prose font-mono z-50">
      <span class=" bg-rose-500 md:bg-rose-500/60  lg:bg-rose-500/60  xl:bg-rose-500/60  2xl:bg-rose-500/60 backdrop-blur-sm">{{ site.description }}</span>
      <h3>Computational Mama - WORK SAMPLES</h3>
     <p>updated</p> 
     <sup id="date-container">November 2023</sup> 
    </h2>
  </div>
  {# <div class="w-full" style="background-image:url('{{ page.data.featimg }}')"> #}
</div>
<div>
  {% for page in collections.projects | sortByWeight %}
  <div class="chapter">
  <h2 class="projtitle font-cirrus text-3xl">{{ page.data.title}}</h2>
  <sup>updated {{ page.date | postDate }}</sup> 
  <br>
  {% for tag in page.data.tags %}
        {% if tag != "projects" %}
          <span class=" border-2 border-slate-200 rounded-full px-2 mx-1 font-mono italic text-xs">{{ tag }}</span>
        {% endif %}
      {% endfor %}
  <div class="text-sm font-mono max-w-prose">{{ page.templateContent | safe }}</div>
  {% include "components/thumbnails.njk" %}
  </div>
{% endfor %}
</div>