---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
# Redirects from what the browser requests to what we serve

{# /blog              /events #}
/code-care         https://youtu.be/Nko6rgux62I
/measuring-talk    https://youtu.be/eUyZ7cIvTZc