---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
# Redirects from what the browser requests to what we serve
# left side for the link you want to generate and the right is the link you want to redirect to
{# /blog              /events #}


/code-care         https://youtu.be/Nko6rgux62I
/measuring-talk    https://youtu.be/eUyZ7cIvTZc
/silence-bot       https://gooey.ai/chat/measuring-silences-B49/