---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
# Redirects from what the browser requests to what we serve

{# /blog              /events #}
/cuties            https://www.petsofnetlify.com

