---
layout: layouts/base.njk
---
<h1>hello</h1>
{# {% respimg
    src="src/img/genai/202307/computational_mama_a_beautiful_painting_of_a_tired_and_young_in_e0993a5f-bd4c-4430-9816-a851509f22af.png",
    width="300",
    height="200",
    sizes="300, 500, 700, 900",
    alt="Cat Photo",
    loading="lazy"
    class="border img-fluid"
%} #}

{# {% cloudinaryImage "ai-images/202310/computational_mama_Masterpiece_intricate_details_front_view_pix_32ac1f5b-b6d2-490a-b5dd-33eb13422671_i0b1ms.png", "w_320,f_auto", "Cloudinary Sample Image" %}
{% cloudinaryImage "ai-images/202307/computational_mama_a_beautiful_painting_of_a_tired_and_young_in_e0993a5f-bd4c-4430-9816-a851509f22af.png", "w_320,f_auto", "Cloudinary Sample Image" %} #}



